<h2>Rankings</h2>

%table.table
  %thead
    %tr
      %th= sortable "first_name", "Full Name"
      %th= sortable "matches_played"
      %th= sortable "number_of_wins"
      %th= sortable "number_of_losses"
      %th= sortable "total_goals_scored"
      %th= sortable "total_goals_lost"
      %th= sortable "points"

  %tbody
  - @players.each do |player|
    %tr
      %td= link_to player.full_name, player
      %td.table-center= link_to player.matches_played, player_matches_path(player)
      %td.table-center= player.number_of_wins
      %td.table-center= player.number_of_losses
      %td.table-center= player.total_goals_scored
      %td.table-center= player.total_goals_lost
      %td.table-center= player.points
