<h2>Rankings</h2>

%table
  %tr
    %th Full Name
    %th Matches played
    %th Number of wins
    %th Number of losses
    %th Total goals scored
    %th Total goals lost
    %th Points

  - @players.each do |player|
    %tr
      %td= player.full_name
      %td= player.matches_played
      %td= player.number_of_wins
      %td= player.number_of_losses
      %td= player.total_goals_scored
      %td= player.total_goals_lost
      %td= player.points
