<h2>Rankings</h2>

%table.table
  %thead
    %tr
      %th Full Name
      %th Matches played
      %th Number of wins
      %th Number of losses
      %th Total goals scored
      %th Total goals lost
      %th Points

  %tbody
  - @players.each do |player|
    %tr
      %td= link_to player.full_name, player
      %td.table-center= link_to player.matches_played, player_matches_path(player)
      %td.table-center= player.number_of_wins
      %td.table-center= player.number_of_losses
      %td.table-center= player.total_goals_scored
      %td.table-center= player.total_goals_lost
      %td.table-center= player.points
