.col-sm-2.col-sm-offset-4
  = show_avatar(@player)

%table.table
  %thead
    %tr
      %th{colspan: 2}= @player.full_name
    - if current_player && current_player == @player
      %tr
        %th{colspan: 2}= link_to "Edit player profile", edit_player_registration_path

  %tbody
    %tr
      %td Matches played
      %td= @player.matches_played
    %tr
      %td Number of wins
      %td= @player.number_of_wins
    %tr
      %td Number of losses
      %td= @player.number_of_losses
    %tr
      %td Win %
      %td= number_to_percentage(@player.win_ratio, precision: 1)
    %tr
      %td Goals scored
      %td= @player.total_goals_scored
    %tr
      %td Goals lost
      %td= @player.total_goals_lost
    %tr
      %td Current winning streak
      %td= @player.current_streak
    %tr
      %td Longest winning streak
      %td= @player.longest_streak
    %tr
      %td Number of points
      %td= @player.points
