.text-center
  = show_avatar(@player)

%table.table
  %thead
    %tr
      %th{colspan: 2}= @player.full_name
    - if current_player && current_player == @player
      %tr
        %th{colspan: 2}= link_to "Edit player profile", edit_player_registration_path

  %tbody
    %tr
      %td Matches played
      %td= @player.matches_played
    %tr
      %td Number of wins
      %td= @player.number_of_wins
    %tr
      %td Number of losses
      %td= @player.number_of_losses
    %tr
      %td Win %
      %td= number_to_percentage(@player.win_ratio, precision: 1)
    %tr
      %td Goals scored
      %td= @player.total_goals_scored
    %tr
      %td Goals lost
      %td= @player.total_goals_lost
    %tr
      %td Current winning streak
      %td= @player.current_streak
    %tr
      %td Longest winning streak
      %td= @player.longest_streak
    %tr
      %td Number of points
      %td= @player.points

.col-sm-5.col-sm-offset-1
  .panel.panel-success
    .panel-heading
      %h3.panel-title Recent matches
    .panel-body
      %table.table
        - @recent_matches.each do |match|
          %tr
            %td.table-center
              = match.player1.full_name
            %td.table-center
              = link_to "#{match.score_player1} : #{match.score_player2}", match
            %td.table-center
              = match.player2.full_name

.col-sm-5
  .well
    %h3 Challenge this player for a match!
    = form_tag('/challenges') do
      = hidden_field_tag :player_id, @player.id
      .form-group
        = text_area_tag :message, nil, rows: 8, class: "form-control", placeholder: "Enter a personalized message with details, such as suggested date, etc."
      %br
      = submit_tag "Send challenge", class: "btn btn-default"
