.col-sm-8.col-sm-offset-2
  %h2.text-center Matches played

  %table.table
    - @matches.each do |match|
      %tr
        %td.table-center
          = match.player1.full_name
        %td.table-center
          = link_to "#{match.score_player1} : #{match.score_player2}", match
        %td.table-center
          = match.player2.full_name
