.well.col-sm-8.col-sm-offset-2
  %h2 Add a match

  %table.table
    %thead
      %tr
        %th
        %th Host
        %th Guest

    %tbody
      = bootstrap_form_for @match do |f|
        %tr
          %td Players
          %td= current_player.full_name
          %td= f.select :player2, Player.all.map(&:email), hide_label: true
        %tr
          %td Score
          %td= f.text_field :score_player1, hide_label: true
          %td= f.text_field :score_player2, hide_label: true

        = f.hidden_field(:player1, value: current_player.id)
        %tr
          %td{colspan: 3}= f.submit
