.well.col-sm-8.col-sm-offset-2
  %h2 Add a match

  %p
    = bootstrap_form_for @match do |f|
      %table.table
        %thead
          %tr
            %th
            %th Host
            %th Guest

        %tbody
          %tr
            %td.vert-align
              %strong Players
            %td.vert-align.table-center= current_player.full_name
            %td.vert-align= f.select :player2_id, Player.where('id != ?', current_player.id).map { |p| [p.full_name, p.id] }, hide_label: true
          %tr
            %td.vert-align
              %strong Score
            %td.vert-align= f.text_field :score_player1, hide_label: true
            %td.vert-align= f.text_field :score_player2, hide_label: true

      .text-center
        = f.date_select :match_date

        = f.hidden_field(:player1_id, value: current_player.id)
        = f.submit
