.col-sm-6.col-sm-offset-3
  .panel.panel-success
    .panel-heading
      %h3.panel-title Match: #{pretty_date(@match.match_date)}

    .panel-body.text-center
      %tr
        %td.table-center
          = @match.player1.full_name
        %td.table-center
          %strong= "#{@match.score_player1} : #{@match.score_player2}"
        %td.table-center
          = @match.player2.full_name

  .panel.panel-success
    .panel-heading
      %h3.panel-title All matches between these players
    .panel-body
      %table.table
        - @previous_matches.each do |match|
          %tr
            %td.table-center
              = match.player1.full_name
            %td.table-center
              = link_to "#{match.score_player1} : #{match.score_player2}", match
            %td.table-center
              = match.player2.full_name
